<% if (success && success.length > 0) { %>
  <% success.forEach(msg => { %>
    <div class="alert alert-success"><%= msg %></div>
  <% }) %>
<% } %>
<% if (error && error.length > 0) { %>
  <% error.forEach(msg => { %>
    <div class="alert alert-error"><%= msg %></div>
  <% }) %>
<% } %>
